*
!init.el
config.org
!custom.el
!legacy.el

auto-save-list
elpa
ac-comphist.dat
url
.org-id-locations
eshell/
image-dired/
semanticdb/
tramp
projectile-bookmarks.eld
.mc-lists.el
local.el
recentf
tutorial/
network-security.data
kkcrc
emojis